#from-currency button,
#to-currency button {
    width: 100%;
    height: 50px;
}

#amount-currency input {
    height: 50px;
}

#from-currency ul,
#to-currency ul {
    width: 100%;
}

.col label {
    font-weight: 800;
}

#from-conversion {
    color: rgb(92, 102, 123);
    font-weight: 600;
}

#to-conversion {
    color: rgb(46, 60, 87);
    font-weight: 800;
    font-size: 2rem;
}

#to-conversion span {
    color: rgb(161, 166, 176);
}

#reverse-conversion {
    color: rgb(92, 102, 123);
}
