#from-currency button, #to-currency button {
    width: 100%;
    height: 50px;
}

#amount-currency input {
    height: 50px;
}

#from-currency ul, #to-currency ul {
    width: 100%;
}

.col label {
    font-weight: 800;
}

/* #conversionRates {
    font-weight: 800;
} */